In [2]:
data = [10,20,30,40,90,67,40,97,66,43,11,15,13,19,24,23,11,58,71,45]

In [3]:
type(data)

list

In [4]:
print(type(data))

<class 'list'>

In [5]:
data * 2

[10,
 20,
 30,
 40,
 90,
 67,
 40,
 97,
 66,
 43,
 11,
 15,
 13,
 19,
 24,
 23,
 11,
 58,
 71,
 45,
 10,
 20,
 30,
 40,
 90,
 67,
 40,
 97,
 66,
 43,
 11,
 15,
 13,
 19,
 24,
 23,
 11,
 58,
 71,
 45]

In [6]:
import numpy as np

In [7]:
grade = np.array(data)

In [8]:
print(grade)

[10 20 30 40 90 67 40 97 66 43 11 15 13 19 24 23 11 58 71 45]

In [9]:
grade * 3

array([ 30,  60,  90, 120, 270, 201, 120, 291, 198, 129,  33,  45,  39,
        57,  72,  69,  33, 174, 213, 135])

In [10]:
grade.shape # shape of array data

(20,)

In [11]:
data.shape #not able print shap of list data

AttributeError: 'list' object has no attribute 'shape'

In [ ]:
grade.mean()

In [ ]:
numpy_array = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
print(type(numpy_array))

In [ ]:
import numpy as np
data2 = np.array(numpy_array)

In [ ]:
print(data2)

In [ ]:
rsap = data2.reshape(2,5)  # reshape 2*5

In [ ]:
print(rsap)

In [ ]:
first_row = rsap[0,:]

In [ ]:
print(first_row)  #print first row

In [ ]:
second_column = rsap[:,1]

In [ ]:
print(second_column)  #print second column from matrix

In [ ]:
sum_of_matrix = np.sum(data2)

In [ ]:
mean_of_matrix = np.mean(data2)

In [ ]:
standard_deviation_of_matrix = np.std(data2)

In [ ]:
print("sum of Matrix : ", sum_of_matrix )  #sum of matrix

print("mean of Matrix : ", mean_of_matrix  )  # mean of matrix

print("standard of Matrix : ", standard_deviation_of_matrix)  #standard deviation of Matrix

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
age = [20,22,19,21]
marks = [85,90,78,88]
student_data = np.array([age,marks])
student_city = ['New york','Bostan','Chicago','Seattle']

In [ ]:
student_data1 = ({'Name': ['Alice','Bob','Carol','Dave'],'Age' :student_data[0],'Gender' :['F','M','F','M'],
                 'City':student_city[0:],'Marks' :student_data[1]})

df=pd.DataFrame(student_data1)

In [ ]:
df #print student details

In [ ]:
df.loc[1]

In [ ]:
import os
print(os.getcwd())

In [47]:
import pandas as pd
df = pd.read_csv('C:/Users/new/Downloads/grades.csv',delimiter=',',header='infer')

In [48]:
df

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   50.0
2       Pedro        9.00   47.0
3       Rosie       16.00   97.0
4       Ethan        9.25   49.0
5       Vicky        1.00    3.0
6    Frederic       11.50   53.0
7      Jimmie        9.00   42.0
8      Rhonda        8.50   26.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
12    Naiyana        9.00   37.0
13       Kian        8.00   15.0
14      Jenny       15.50   70.0
15     Jakeem        8.00   27.0
16     Helena        9.00   36.0
17      Ismat        6.00   35.0
18      Anila       10.00   48.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0
22       Bill        8.00    NaN
23        Ted         NaN    NaN

In [21]:
df.shape #shape of Dataset

(24, 3)

In [ ]:
df.info() #display the column name , datatypes and null values

In [ ]:
df.head(5)  #top five rows

In [ ]:
df.tail(5)  #bottom five rows

In [ ]:
df.isnull().sum()   #missing null value and his count

In [ ]:
df[df.isnull().any(axis=1)]

In [ ]:
df.StudyHours=df.StudyHours.fillna(df.StudyHours.mean())

In [ ]:
df

In [ ]:
df=df.dropna(axis=0, how='any')
df

In [ ]:
mean_study = df.StudyHours.mean()

In [ ]:
mean_study

In [ ]:
mean_grade = df.Grade.mean()

In [ ]:
mean_grade

In [ ]:
print("mean value of study : ",mean_study)
print("mean value of grade : ",mean_grade)

In [ ]:
df[df.Grade > mean_grade]    #grade greater mean of grade

In [ ]:
df[df.StudyHours < mean_study]   # mean less than study

In [ ]:
grade_mean=df.Grade.mean()
grade_mean

In [ ]:
grade_standard_median = df.Grade.std()
grade_standard_median

In [ ]:
grade_min=df.Grade.min()
grade_min

In [ ]:
grade_max=df.Grade.max()
grade_max

In [ ]:
grade_sum=df.Grade.sum()
grade_sum

In [ ]:
grade_median=df.Grade.median()
grade_median

In [ ]:
grade_quantile=df.Grade.quantile(.54)
grade_quantile

In [ ]:
import pandas as pd
flight_data=pd.read_csv('C:/Users/new/Downloads/flights/flights.csv',delimiter=',',header='infer')
flight_data

In [ ]:
flight_data.shape

In [ ]:
flight_data.info()

In [ ]:
flight_data.isnull().sum()

In [ ]:
flight_data[ (flight_data['Cancelled'] == 0) | (flight_data['DepDelay'] > 15)]

In [ ]:
flight_data.sort_values('DepDelay',ascending=False)

In [49]:
df

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   50.0
2       Pedro        9.00   47.0
3       Rosie       16.00   97.0
4       Ethan        9.25   49.0
5       Vicky        1.00    3.0
6    Frederic       11.50   53.0
7      Jimmie        9.00   42.0
8      Rhonda        8.50   26.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
12    Naiyana        9.00   37.0
13       Kian        8.00   15.0
14      Jenny       15.50   70.0
15     Jakeem        8.00   27.0
16     Helena        9.00   36.0
17      Ismat        6.00   35.0
18      Anila       10.00   48.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0
22       Bill        8.00    NaN
23        Ted         NaN    NaN

In [50]:
passes = pd.Series(df['Grade'] > 60 )

In [51]:
passes

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11     True
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20     True
21     True
22    False
23    False
Name: Grade, dtype: bool

In [52]:
df2 = pd.concat([df,passes.rename('Pass')],axis=1)

In [53]:
df2

         Name  StudyHours  Grade   Pass
0         Dan       10.00   50.0  False
1       Joann       11.50   50.0  False
2       Pedro        9.00   47.0  False
3       Rosie       16.00   97.0   True
4       Ethan        9.25   49.0  False
5       Vicky        1.00    3.0  False
6    Frederic       11.50   53.0  False
7      Jimmie        9.00   42.0  False
8      Rhonda        8.50   26.0  False
9    Giovanni       14.50   74.0   True
10  Francesca       15.50   82.0   True
11      Rajab       13.75   62.0   True
12    Naiyana        9.00   37.0  False
13       Kian        8.00   15.0  False
14      Jenny       15.50   70.0   True
15     Jakeem        8.00   27.0  False
16     Helena        9.00   36.0  False
17      Ismat        6.00   35.0  False
18      Anila       10.00   48.0  False
19       Skye       12.00   52.0  False
20     Daniel       12.50   63.0   True
21      Aisha       12.00   64.0   True
22       Bill        8.00    NaN  False
23        Ted         NaN    NaN  False

In [57]:
print(df2.groupby(df2.Pass).Name.count())

Pass
False    17
True      7
Name: Name, dtype: int64

In [78]:
print(df2.groupby(df2.Pass)[['Grade', 'StudyHours']].mean())

           Grade  StudyHours
Pass
False  38.000000    8.734375
True   73.142857   14.250000

In [79]:
df2.groupby("Pass")['Name'].count()

Pass
False    17
True      7
Name: Name, dtype: int64

In [80]:
df2.Pass

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11     True
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20     True
21     True
22    False
23    False
Name: Pass, dtype: bool