In [1]:
data = [10,20,30,40,90,67,40,97,66,43,11,15,13,19,24,23,11,58,71,45]

In [2]:
type(data)

list

In [3]:
print(type(data))

<class 'list'>

In [5]:
data * 2

[10,
 20,
 30,
 40,
 90,
 67,
 40,
 97,
 66,
 43,
 11,
 15,
 13,
 19,
 24,
 23,
 11,
 58,
 71,
 45,
 10,
 20,
 30,
 40,
 90,
 67,
 40,
 97,
 66,
 43,
 11,
 15,
 13,
 19,
 24,
 23,
 11,
 58,
 71,
 45]

In [6]:
import numpy as np

In [7]:
grade = np.array(data)

In [8]:
print(grade)

[10 20 30 40 90 67 40 97 66 43 11 15 13 19 24 23 11 58 71 45]

In [9]:
grade * 3

array([ 30,  60,  90, 120, 270, 201, 120, 291, 198, 129,  33,  45,  39,
        57,  72,  69,  33, 174, 213, 135])

In [10]:
grade.shape # shape of array data

(20,)

In [11]:
data.shape #not able print shap of list data

AttributeError: 'list' object has no attribute 'shape'

In [12]:
grade.mean()

39.65

In [13]:
numpy_array = [1,2,3,4,5,6,7,8,9,10]

In [14]:
print(type(numpy_array))

<class 'list'>

In [15]:
import numpy as np
data2 = np.array(numpy_array)

In [16]:
print(data2)

[ 1  2  3  4  5  6  7  8  9 10]

In [18]:
rsap = data2.reshape(2,5)  # reshape 2*5

In [19]:
print(rsap)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [22]:
first_row = rsap[0,:]

In [23]:
print(first_row)  #print first row

[1 2 3 4 5]

In [29]:
second_column = rsap[:,1]

In [30]:
print(second_column)  #print second column from matrix

[2 7]

In [32]:
sum_of_matrix = np.sum(data2)

In [33]:
mean_of_matrix = np.mean(data2)

In [34]:
standard_deviation_of_matrix = np.std(data2)

In [35]:
print("sum of Matrix : ", sum_of_matrix )  #sum of matrix

print("mean of Matrix : ", mean_of_matrix  )  # mean of matrix

print("standard of Matrix : ", standard_deviation_of_matrix)  #standard deviation of Matrix

sum of Matrix :  55
mean of Matrix :  5.5
standard of Matrix :  2.8722813232690143

In [36]:
import pandas as pd
import numpy as np

In [38]:
age = [20,22,19,21]
marks = [85,90,78,88]
student_data = np.array([age,marks])
student_city = ['New york','Bostan','Chicago','Seattle']

In [53]:
student_data1 = ({'Name': ['Alice','Bob','Carol','Dave'],'Age' :student_data[0],'Gender' :['F','M','F','M'],
                 'City':student_city[0:],'Marks' :student_data[1]})

df=pd.DataFrame(student_data1)

In [54]:
df #print student details

    Name  Age Gender      City  Marks
0  Alice   20      F  New york     85
1    Bob   22      M    Bostan     90
2  Carol   19      F   Chicago     78
3   Dave   21      M   Seattle     88